
@{
    ViewData["Title"] = "Create";
}

<h1>Adicionar Personal</h1>
<form action ="CreatePersonal">
   <input type ="text" id="Nome" name="Nome" />
   <input type="text" id="Cref" name="Cref"/>
   <input type="text" id="Experiencia" name="Experiencia" />

   <button type="submit">Enviar</button>

   <select>
       <option value = "8">
           Diego
       </option>
        <option value = "11">
           Daniel
        </option>
   </select>
</form>




