@model PersonalProjeto.Models.Personal

<h2>Detalhes do Personal</h2>

<div>
    <strong>Nome:</strong> @Model.Nome
</div>
<div>
    <strong>Cref:</strong> @Model.Cref
</div>
<div>
    <strong>Experiência:</strong> @Model.Experiencia
</div>

<a href="@Url.Action("Index")" class="btn btn-secondary">Voltar</a>
